.App-header{
  text-align: center;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(45deg,#FCC6FF,#FFE6C9,#FFC785,#FFA09B);
}

.App-header h1{
  font-size: 3rem;
  font-weight: 400;
  color: #3B6790;
}

main{
  position: relative;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}

.container .item{
  width: 200px;
  height: 300px;
  margin: 30px 0;
}
.container .item img{
  width: 200px;
  height: 80%;
}

.container .item h3{
  color: #3B6790;
}

.detail{
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto ;
  background: linear-gradient(45deg,#FCC6FF,#FFE6C9,#FFC785,#FFA09B);
  padding: 20px;
}
.detail .content{
  color: #3B6790;
}
.detail .about{
  color: #3B6790;
}
p{
  font-size: 1.5em;
}

.close{
  padding: 10px 20px;
  border: 1px solid #3B6790;
  background: transparent;
  color: #3B6790;
  font-size: 1.5em;
  border-radius: 5px;
  transition: all 0.3s;
}

.close:hover{
  border: 1px solid white;
  color: white;
}